<persist>true</persist>
<powershell>
Start-Transcript -Path "C:\Windows\cloudinit.log" -Append

$path= 'HKLM:\Software\UserData'

Write-Host "Setting Admin Password"
net user pat "${admin_pass}" /add
net localgroup administrators pat /add

</powershell>
