<persist>true</persist>
<powershell>
Start-Transcript -Path "C:\Windows\cloudinit.log" -Append

$path= 'HKLM:\Software\UserData'

Set-ItemProperty "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0
Enable-NetFirewallRule -DisplayGroup "Remote Desktop"



#Write-Host "Creating local 'Admin' account and Password so built 'Administrator' acocunt is locked down"
net user admin "${admin_pass}" /add
net localgroup administrators admin /add

</powershell>
